<p id="notice"><%= notice %></p>

<h1><%= @post.titulo %></h1>
<p>
  <div>Autor: <%= @post.autor.username %> | Publicado el <%= @post.fecha %></div>
  <%= @post.contenido %>
</p>

<%= link_to 'Regresar', posts_path %>

<h4>Publicar comentario</h4>
<%= form_for(@comment, url: create_comment_path(@post.id)) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if !logged_in?%>
  	<div class="field">
	    <%= f.label "Nombre" %><br>
	    <%= f.text_area :anonimo %>
	</div>
  <% end %>
  <div class="field">
    <%= f.label :contenido %><br>
    <%= f.text_area :contenido %>
  </div>
  <div class="actions">
    <%= f.submit "Publicar" %>
  </div>
<% end %>

<% @post.comments.each do |comentario| %>
  <div>
    <h5><%= comentario.autor.nil? ? comentario.anonimo : comentario.autor.username %></h5>
    <span>Publicado el <%= comentario.fecha %></span>
    <p><%= comentario.contenido %></p>
  </div>
<% end %>

